li {
    color: white;
    text-align: center;
    background-color: black;
    border: solid 2px red;
    padding: 20px;
    width: 200px;
}

ol li {
    display: inline-block;
}

ul {
    position: absolute;
    top: 80px;
    left: 255px;
}

ul li {
    margin-top: 2px;
    display: none;
}

ol li:hover ul li {
    display: block
}

li ol {
    position: absolute;
    left: 245px;
    top: 128px;
    margin-left: 2px;
    display: none
}

ol li:hover ul li:hover ol {
    display: block
}

/*
Alternatywnie - działa globalnie, bez względu na ilość gniazd

ul ul {
    display: none
    } // wskazuje każdy ul który ma rodzica ul, czyli
    pierwszy rząd pozostaje domyślnie wyświetlony

li:hover > ul {
    display: block
    } //najazd na każde li, które jest bezpośrednim rodzicem
    elementu ul

    // W sytuacji kiedy są tylko ul i li,
    a gniazda opisano za pomocą klas
 */